{% extends "base.html" %}
{% block body %}
<div class="profileSection">

    <div class="profileDataDection profileItem0">
        <div class="profileInfoSec">
            <div class="profileIconContainer">
                <i style="color: #ffffff;" class="fa fa-user ics"></i>
            </div>
            <div class="profileInfoData">
                <h1>{{name}}</h1>
                <h1 class="usrnameMain">username: <span class="usrName">{{username}}</span></h1>
            </div>
        </div>
        <div class="profileInfoSec">
            <button class="editProfileBtn">Edit Profile</button>
        </div>
    </div>

    <div class="profileSettingSection">
    <div class="setting-section">
        <div class="profileSettingSectionHeader">
            <div><i aria-hidden="false" class="fa fa-gear setting"></i></div>
            <h1 class="profileSettingSectionHeaderVal">Workspaces</h1>
        </div>
        <hr style="width:100%;text-align:left;margin-left:0">
        <div class="existingWkContainer">
            {% for wk in workspaces %}
            <a href="/?wk={{ wk.id }}">{{wk.name}}</a>
            {% endfor %}
        </div>

        <div class="flex-container-row aed-section">
            <div onclick="wkselectaed(this)" id="wk-aed-a" class="aed-item aed-select">Add</div>
            <div onclick="wkselectaed(this)" id="wk-aed-e" class="aed-item">Edit</div>
            <div onclick="wkselectaed(this)" id="wk-aed-d" class="aed-item">Delete</div>
        </div>


        <div id="wk-aed-a-item" class="settings-add-section-container aed-a">
            <div class="settings-add-section">
                <form class="settingsForm" id="addWorkspaceForm" action="/addWorkspace" method="POST">
                    <input class="inp" name="workspace" type="text" placeholder="Add WorkSpace">
                    <button class="btn_form_mini" onclick="addWorkspace()" type="button">Add</button>
                </form>
            </div>
        </div>

        

        <div style="display: none;" id="wk-aed-e-item" class="settings-add-section-container aed-e">
            <div class="settings-add-section">
                <form class="settingsForm" id="editWorkspaceForm" action="/editWorkspace" method="POST">
                    <select class="editWks" id="wkspaces" name="wkspaces">
                        {% for wk in workspaces %}
                        <option value="{{wk.id}}">{{wk.name}}</option>
                        {% endfor %}
                    </select>
                    <input class="inp" name="editworkspace" type="text" placeholder="edit WorkSpace">
                    <button class="btn_form_mini" onclick="editWorkspace()" type="button">Edit</button>
                </form>
            </div>
        </div>

        <div style="display: none;" id="wk-aed-d-item" class="settings-add-section-container aed-d">
            <div class="settings-add-section">
                <form class="settingsForm" id="deleteWorkspaceForm" action="/deleteWorkspace" method="POST">
                    <select class="editWks" id="wkspacesdelete" name="wkspacesdelete">
                        {% for wk in workspaces %}
                        <option value="{{wk.id}}">{{wk.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn_form_mini" onclick="deleteWorkspace()" type="button">Delete</button>
                </form>
            </div>
        </div>
       
        
    </div>

    <div class="setting-section">
        <div class="profileSettingSectionHeader">
            <div><i aria-hidden="false" class="fa fa-gear setting"></i></div>
            <h1 class="profileSettingSectionHeaderVal">Labels</h1>
        </div>
        <hr style="width:100%;text-align:left;margin-left:0">
        <div class="existingWkContainer">
            {% for label in labels %}
            <li>{{label.name}}</li>
            {% endfor %}
        </div>

        <div class="flex-container-row aed-section">
            <div onclick="labelselectaed(this)" id="label-aed-a" class="aed-item aed-select">Add</div>
            <div onclick="labelselectaed(this)" id="label-aed-e" class="aed-item">Edit</div>
            <div onclick="labelselectaed(this)" id="label-aed-d" class="aed-item">Delete</div>
        </div> 

        <div id="label-aed-a-item" class="settings-add-section-container aed-a">
            <div class="settings-add-section">
                <form class="settingsForm" id="addLabelForm" action="/addLabel" method="POST">
                    <input class="inp" name="label" type="text" placeholder="Add Label">
                    <button class="btn_form_mini" onclick="addLabel()" type="button">Add</button>
                </form>
            </div>
        </div>

        <div style="display: none;" id="label-aed-e-item" class="settings-add-section-container aed-e">
            <div class="settings-add-section">
                <form class="settingsForm" id="editLabelForm" action="/editLabel" method="POST">
                    <select class="editWks" id="currentlabel" name="currentlabel">
                        {% for label in labels %}
                        <option value="{{label.id}}">{{label.name}}</option>
                        {% endfor %}
                    </select>
                    <input class="inp" name="editlabel" type="text" placeholder="edit label">
                    <button class="btn_form_mini" onclick="editLabel()" type="button">Edit</button>
                </form>
            </div>
        </div>

        <div style="display: none;" id="label-aed-d-item" class="settings-add-section-container aed-d">
            <div class="settings-add-section">
                <form class="settingsForm" id="deleteLabelForm" action="/deleteLabel" method="POST">
                    <select class="editWks" id="labeldelete" name="labeldelete">
                        {% for label in labels %}
                        <option value="{{label.id}}">{{label.name}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn_form_mini" onclick="deleteLabel()" type="button">Delete</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>

<style>
    .aed-item:hover{
        cursor: pointer;
    }
    .existingWkContainer>a {
        color: black;
        padding: 3px 20px 3px;
    }
    .aed-select{
        border-style: solid;
        border-width: 0px;
        border-color: blue;
        border-bottom-width: 2px;
    }
    .aed-section{
        border-style: solid;
        border-width: 0px;
        border-color: grey;
        border-bottom-width: 1px;
        margin: 15px;
        margin-top: 25px;
    }
    .aed-item{
        margin-left: 8px;
        margin-right: 8px;
    }
    .editWks{
        margin-bottom: 6px;
    }
    .settings-add-section-container{
        margin: 15px;
        border-style: solid;
        border-width: 1px;
        border-radius: 16px;
        border-color: lightgray;
        background-color: white;
        padding: 10px;
    }
    .existingWkContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .profileIconContainer{
        padding: 10px 10px 0px;
        border-style: solid;
        border-width: 1px;
        border-radius: 16px;
        border-color: lightgray;
        background-color: lightgrey;
        margin: 3px;

    }
    .usrName{
        color: black;
    }
    .usrnameMain{
        color: grey;
        font-size: 15px;
    }
    .inp{
        border-radius: 8px;
        border: solid;
        border-width: 1px;
        border-color: lightblue;
    }

    .ics{
        font-size: 100px;
    }
    .setting{
        margin-left: 8px;
        font-size: 20px;
    }
    .profileInfoSec{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .profileSettingSectionHeader{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .profileInfoData{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 10px;
        width: 100%;
    }

    

    .profileItem0{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 90vh;
        min-width: 25vw;
        padding: 20px;
        border-style: solid;
        border-width: 1px;
        border-radius: 16px;
        border-color: lightgray;
        background-color: white;
    }

    .setting-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 15px;
        border-style: solid;
        border-width: 1px;
        border-radius: 16px;
        border-color: lightgray;
        background-color: white;
        max-width: 30vw;
    }

    .profileSection{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 30px;
    }

    .profileSettingSection{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
    }

    .editProfileBtn{
        width: 100%;
        height:40px;
        color: green;
        background-color: #2db55d14;
        border-radius: 12px;
        border-color: azure;
        border-width: 1px;
        border-style: solid;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        font-family: Verdana;
        font-weight: 500;
    }
    .profileSettingSectionHeaderVal{
        padding: 0px;
        margin: 0;
        margin-left: 15px;
    }
    .settingsForm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<script>
    function addLabel(){
        document.getElementById("addLabelForm").submit();
    }
</script>

<script>
    function addWorkspace(){
        document.getElementById("addWorkspaceForm").submit();
    }
    function editWorkspace(){
        document.getElementById("editWorkspaceForm").submit();
    }
    function deleteWorkspace(){
        if(confirm("Are sure Want to delete?")){
        document.getElementById("deleteWorkspaceForm").submit();
        }
    }
    function wkselectaed(ele){
        let ele1=document.getElementById("wk-aed-a");
        let ele2=document.getElementById("wk-aed-e");
        let ele3=document.getElementById("wk-aed-d");

        let elei1=document.getElementById("wk-aed-a-item");
        let elei2=document.getElementById("wk-aed-e-item");
        let elei3=document.getElementById("wk-aed-d-item");
        
        ele.classList.add("aed-select");
        if (ele1!==ele){
            ele1.classList.remove("aed-select");
            elei1.style.display="none";
        }
        else{
            elei1.style.display="block";
        }
        if (ele2!==ele){
            ele2.classList.remove("aed-select");
            elei2.style.display="none";
        }
        else{
            elei2.style.display="block";
        }
        if (ele3!==ele){
            ele3.classList.remove("aed-select");
            elei3.style.display="none";
        }
        else{
            elei3.style.display="block";
        }
    }

    
    function editLabel(){
        document.getElementById("editLabelForm").submit();
    }
    function deleteLabel(){
        if(confirm("Are sure Want to delete?")){
        document.getElementById("deleteLabelForm").submit();
        }
    }
    function labelselectaed(ele){
        let ele1=document.getElementById("label-aed-a");
        let ele2=document.getElementById("label-aed-e");
        let ele3=document.getElementById("label-aed-d");

        let elei1=document.getElementById("label-aed-a-item");
        let elei2=document.getElementById("label-aed-e-item");
        let elei3=document.getElementById("label-aed-d-item");
        
        ele.classList.add("aed-select");
        if (ele1!==ele){
            ele1.classList.remove("aed-select");
            elei1.style.display="none";
        }
        else{
            elei1.style.display="block";
        }
        if (ele2!==ele){
            ele2.classList.remove("aed-select");
            elei2.style.display="none";
        }
        else{
            elei2.style.display="block";
        }
        if (ele3!==ele){
            ele3.classList.remove("aed-select");
            elei3.style.display="none";
        }
        else{
            elei3.style.display="block";
        }
    }
</script>
{% endblock %}